# Maven build
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/MavenWrapperDownloader.java

# Maven logs
mvnw
mvnw.cmd
.build

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
.nb-gradle/
.settings/
.classpath
.project

# OS files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Logs
*.log

# Docker
docker-compose.override.yml
